<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="netease-dubbo-consumer"  />

    <dubbo:registry id="zk1" address="127.0.0.1:2181" protocol="zookeeper" />

    <dubbo:consumer registry="zk1"/>

    <dubbo:reference id="speakInterface" interface="com.netease.rpc.SpeakInterface" />

</beans>